body {
    background-color: powderblue;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans",Arial, Helvetica, sans-serif;
    line-height: 1.8;
    font-size: 14px;
    color: black;
 }

 h1{
    text-align: center;
 }
